{% extends "base.html" %}

{% block content %}
<section class="row">
  <div class="small-12 columns">
    <h2>Archives for {{ SITENAME }}</h2>

    <dl>
    {% for article in dates %}
        <dt>{{ article.locale_date }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
    </dl>
  </div>
</section>
{% endblock %}
