{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}

{% if article.category.name in ('recipes', 'recettes') %} <!-- Recipes -->
<section id="recipe-page">
  <article class="hentry row">
    <div class="image-border clearfix">
    
      <div class="medium-4 small-12 columns">
        <header>
            <h1 class="entry-title">{{ article.title }}</h1>
              <!-- Delete?
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
              -->
            {% include 'twitter.html' %}
        </header>
        <div class="post-info"> 
          <ul class="no-bullet">
            {% if article.risk %}
              <li class="risk row collapse">
                <i class="icon risk-icon small-2 columns">&nbsp;</i>
                <div class="small-10 columns">
                  <strong>Risk</strong>
                  <span>{{ article.risk }}</span>
                </div>
              </li>
            {% endif %}
            {% if article.duration %}
            <li class="duration row collapse">
                <i class="icon duration-icon small-2 columns">&nbsp;</i>
                <div class="small-10 columns">
                  <strong>Duration</strong>
                  <span>{{ article.duration }}</span>
                </div>
              </li>   
            {% endif %}
            {% if article.serves %}
              <li class="servings row collapse">
                <i class="icon servings-icon small-2 columns">&nbsp;</i>
                <div class="small-10 columns">
                  <strong>Serves</strong>
                  <span>{{ article.serves }}</span>
                </div>
              </li>
            {% endif%}
          </ul>
        </div>
      </div>

      <div class="entry-content medium-8 small-12 columns">
          {% include 'article_ingredients.html' %}
          <div class="post-info" style="margin-bottom: 0px;">
              <ul class="no-bullet ingredients" style="margin-bottom: 0px;">
                <li>
                  <i class="icon ingredients-icon">&nbsp;</i>
                  <strong>Steps</strong>
                </li>
              </ul>
          </div>
          {{ article.content }}
      </div><!-- /.entry-content -->
    </div>
  </article>
</section>
<div class="row">
  <div class="small-12 columns">
    <p class="more-recipes"><a href="{{ SITEURL }}/category/recipes.html">{{ BACK_TO_RECIPES_STRING }}</a></p>
  </div>
</div>

{% else %} <!-- Basics -->
<section id="basics-page" class="page">
  <article class="hentry">
    <div class="row">
      <header class="large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns">
          <h1 class="entry-title">{{ article.title }}</h1>
            <!-- Delete?
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
            -->
          {% include 'twitter.html' %}
      </header>
    </div>
    <div class="row">
      <div class="entry-content large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns">
          {{ article.content }}
      </div><!-- /.entry-content -->
    </div>
  </article>
</section>
<div class="row">
  <div class="small-12 columns">
    <p class="more-recipes"><a href="{{ SITEURL }}/category/basics.html">{{ BACK_TO_BASICS_STRING }}</a></p>
  </div>
</div>
{% endif %}



{% endblock %}
