<footer class="post-info"> 
  <ul class="no-bullet row collapse small-up-3">
    {% if article.risk %}
      <li class="risk columns">
        <i class="icon risk-icon">&nbsp;</i>
        <span>{{ article.risk }}</span>
      </li>
    {% endif %}
    {% if article.duration %}
    <li class="duration columns">
        <i class="icon duration-icon">&nbsp;</i>
        <span>{{ article.duration }}</span>
      </li>   
    {% endif %}
    {% if article.serves %}
      <li class="servings columns">
        <i class="icon servings-icon">&nbsp;</i>
        <span>{{ article.serves }}</span>
      </li>
    {% endif%}
  </ul>
  
  
  <!-- Delete? taglist and links to translations
    {% include 'taglist.html' %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
  -->
</footer><!-- /.post-info -->
