{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}

<section class="row">
  <div class="small-12 columns">
    <h2>Authors on {{ SITENAME }}</h2>
    <ul class="no-bullet">
    {% for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
