<!doctype html>
<html class="no-js" lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta name="description" content="{{ META_DESCRIPTION }}">

        <meta property="og:title" content="{{ SITENAME }}" />
        <meta property="og:description" content="{{ META_DESCRIPTION }}" />
        <meta property="og:url" content="{{ SITEURL }}" />
        <meta property="og:image" content="{{ META_SHARE_IMAGE }}" />
        
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ SITENAME }}" />
        <meta name="twitter:description" content="{{ META_DESCRIPTION }}" />
        <meta name="twitter:url" content="{{ SITEURL }}" />
        <meta property="twitter:image" content="{{ META_SHARE_IMAGE }}" />

        <meta name="application-name" content="{{ SITENAME }}">
        <meta name="msapplication-TileColor" content="#214478">
        <meta name="msapplication-TileImage" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
        
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
        {% endif %}

        <link rel="apple-touch-icon" sizes="57x57" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon-16x16.png" sizes="16x16">

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>
    <div id="wrapper">
    
        <div id="top-wrapper" data-sticky-container>
          <div data-sticky data-options="marginTop:0;" >
          
            <header id="header" class="row">
              <div class="small-12 columns">
                <h1 class="text-center"><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>   
                <h5 class="subtitle">Have a job in a public administration? Want to make some cash on the side? Try these yummy recipes!</h5>        
                <div id="lang">
                  <ul class="menu">
                    {% for lang, url in extra_siteurls.items() %}
                      <li><a href="{{ url }}/">{{ lang|upper }}</a></li>
                    {% endfor %}
                  </ul>
                </div><!-- /#lang -->
              </div>            
            </header>
            <nav id="navbar" class="row">
              <div class="menu-centered">
                <ul class="menu vertical medium-horizontal">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in PAGES %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                </ul>
              </div>
            </nav>
                
          </div>
        </div><!-- /#top-wrapper -->
        
        <div id="content">
          {% block content %}
          {% endblock %}
        </div> <!-- /#content -->
        

    </div> <!-- /#wrapper -->       

    <footer id="footer">
      <div class="row collapse">
        <p class="large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns">
          <img class="float-left" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/eu-flag.png" alt="European Union’s flag">
          This series of tutorials has received funding from the European Union’s <a target="_blank" href="https://ec.europa.eu/programmes/horizon2020/">Horizon 2020 research and innovation programme</a> under grant agreement <a target="_blank" href="http://cordis.europa.eu/project/rcn/194394_en.html">No 645833</a>.
        </p>
      </div>
      <div class="row collapse">
        <p class="large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns">
        This series of tutorials is part of <strong><a target="_blank" href="http://openbudgets.eu/">OpenBudgets.eu</a>: Fighting Corruption with Fiscal Transparency</strong>, a framework developed in partnership with <a target="_blank" href="https://okfn.org/">Open Knowledge</a>, <a target="_blank" href="https://okfn.de/">Open Knowledge Germany</a>, <a target="_blank" href="http://okfn.gr/">Open Knowledge Greece</a>, <a target="_blank" href="https://www.iais.fraunhofer.de/en.html">Fraunhofer IAIS</a>, <a target="_blank" href="https://www.uni-bonn.de/">University of Bonn</a>, <a target="_blank" href="http://www.civio.es/en/">CIVIO</a>, <a target="_blank" href="https://www.transparency.org/">Transparency Int. EU</a>, <a target="_blank" href="http://www.jplusplus.org/en/paris-berlin/">Journalism++ Paris/Berlin</a> and <a target="_blank" href="https://www.vse.cz/english/">University of Economics - Prague</a>.
        </p>
      </div>                
    </footer><!-- /#footer -->

{% include 'analytics.html' %}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/jquery.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/what-input.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/foundation.min.js"></script>
    
    <script type="text/javascript">
      $(document).foundation()
      /* https://stackoverflow.com/questions/3300660/how-do-i-center-an-image-if-its-wider-than-its-container */
      $("#image-banner > div.columns > img").each(function(i, img) {
          $(img).css({
              position: "relative",
              left: ($(img).parent().width() - $(img).width()) / 2
          });
      });    
    </script>

</body>
</html>
