{% extends "base.html" %}

{% block content %}

{% if category.name in ('recipes', 'recettes') %} <!-- Recipes -->
<section id="recipe-list" class="category-page">
  <ul class="no-bullet row small-up-1 medium-up-2">    
    {% for article in articles_page.object_list %}
      <li class="column"><article class="hentry">
        <header>
            <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                   title="{{ article.title|striptags }}">{{ article.title }}</a></h3>
        </header>
        <div class="entry-content">
          <!-- Get summary or get first 5 lines of the article-->
          {% if article.summary %}
              {{ article.summary }}
          {% else %}
              <p class="auto-excerpt">{{ article.content|striptags|truncate(180) }}</p>
          {% endif %}
          {% include 'article_infos.html' %}
        </div><!-- /.entry-content -->
      </article></li>             
    {% endfor %}
  </ul><!-- /.list -->
</section><!-- #content -->

{% else %} <!-- Basics and other categories -->
<section class="category-page">
  <ul class="no-bullet">    
    {% for article in articles_page.object_list %}
      <li class="row">
        <article class="hentry large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns">
          <header>
              <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                     title="{{ article.title|striptags }}">{{ article.title }}</a></h3>
          </header>
          <div class="entry-content">
            <!-- Get summary or get first 5 lines of the article-->
            {% if article.summary %}
                {{ article.summary }}
            {% else %}
                <p class="auto-excerpt">{{ article.content|striptags|truncate(180) }}</p>
            {% endif %}
          </div><!-- /.entry-content -->
        </article>
      </li>             
    {% endfor %}
  </ul><!-- /.list -->
</section><!-- #content -->
{% endif %}


{% endblock %}
