{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<div id="image-banner" class="row expanded collapse">
  <div class="small-12 columns">
    <img data-interchange="[{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cover-mobile.jpg, small], [{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cover.jpg, medium], [{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cover-wide.jpg, large]" alt="{{ SITENAME }}">
  </div>
</div>

<div id="disclaimer" class="row">
  <div class="medium-10 medium-offset-1 small-12 columns">
    <p class="lead">{{ WELCOME_TEXT }}</p>
    <form id="newsletter" action="https://tinyletter.com/cooking_budgets" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cooking_budgets', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <p>
        <label for="tlemail">Receive the next recipes directly in your inbox</label>
        <input type="text" name="email" id="tlemail" /><input type="submit" class="button" value="Subscribe" />
      </p>
      <input type="hidden" value="1" name="embed"/>
    </form>
  </div>
</div>

<section id="highlighted" class="row small-up-1 medium-up-2 large-up-3" data-equalizer>
{% for article in articles_page.object_list if article.category.name in ('recipes', 'recettes') and HIGHLIGHT_TAG in article.tags %}
  {% if loop.index < 10 %} <!-- 9 most recent posts in highlighted here -->
    <article class="hentry column hentry-{{ loop.index }}">
      <a data-equalizer-watch href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <header class="entry-header">
            <h2>{{ article.title }}</h2>
        </header>
        <div class="entry-content">
            {% include 'article_infos.html' %}
        </div><!-- /.entry-content -->
      </a>
    </article>
  {% endif %}
{% endfor %}
</section><!-- /#highlighted -->

<div class="row">
  <div class="small-12 columns">
    <p class="more-recipes"><a href="{{ SITEURL }}/category/recipes.html">More Recipes</a></p>
  </div>
</div>



{% endblock content %}
