{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<section class="row page">
  <div class="large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns">
    <h1 class="entry-title">{{ page.title }}</h1>
    {{ page.content }}
    
    
    <!-- Delete? links to translations
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    -->
  </div>
</section>
{% endblock %}
