{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}

<section class="row">
  <div class="small-12 columns">
    <h2>Tags</h2>
    <ul class="no-bullet">
    {% for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
