/*
	Name: Recipes
	Date: June 2016
	Description: Layout for Open Budget Recipes, using Foundation 6.
	Version: 1.0
	Original author: Journalism++ <http://jplusplus.org/>
*/

@import url("foundation.min.css");

/* Typography
*/

@font-face {
    font-family: 'Antpolt';
    font-weight: 400;
    font-style: italic;
    src: local('Antpolt Italic'), url('../fonts/antpolt-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Alegreya';
    font-weight: 400;
    font-style: normal;
    src: local('Alegreya'), url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Alegreya';
    font-weight: 400;
    font-style: italic;
    src: local('Alegreya Italic'), url('../fonts/AlegreyaSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Alegreya';
    font-weight: 700;
    font-style: normal;
    src: local('Alegreya Bold'), url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
}


/* Custom styles
*/

.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#top-wrapper > div {
  width: 100%;
  background-color: #fff;
}

#top-wrapper #header {
  margin-bottom: 0;
}


#top-wrapper #header > .columns {
  position: relative;
}

#top-wrapper #header > .columns > h1 {
  line-height: 1.2;
  padding-top: 1.2rem;
}

#top-wrapper #header > .columns > h1 a {
  border-bottom: 0;
}

#top-wrapper #header > .columns > h1 a:hover,
#top-wrapper #header > .columns > h1 a:focus {
  color: #444;
}

#top-wrapper #header #lang {
  position: absolute;
  top: 0;
  right: 0.9375rem;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#top-wrapper #header #lang .menu li a {
  padding: 0.3rem 0.5rem;
  border: 1px solid #999;
}

#top-wrapper #header #lang .menu li a:hover,
#top-wrapper #header #lang .menu li a:focus {
  border: 1px solid #333;
}

#top-wrapper #navbar.row {
  margin-top: 0;
  margin-bottom: 0;
}

#top-wrapper #navbar .menu-centered {
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

#top-wrapper #navbar .menu-centered .menu a {
  border: 0;
}

#top-wrapper #navbar .menu-centered .menu a:hover {
  color: #444;
  border: 0;
}

#top-wrapper #navbar .menu-centered .menu .active a {
    border-bottom: 4px solid #58936e;
}

#top-wrapper #navbar .menu-centered .menu .active a:hover,
#top-wrapper #navbar .menu-centered .menu .active a:focus {
    color: #58936e;
    border-bottom: 4px solid #58936e;
}

.readmore {
  display: inline-block;
  cursor: pointer;
  font-size: 0.785rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

html, body, #wrapper { /* positioning footer at the bottom of page */
  height: 100%;
}

body > #wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 3rem;
}

#content section {
  padding-top: 1rem;
}

#footer {
  font-size: 95%;
  color: #444;
  background: #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
  clear: both;
  position: relative;
  z-index: 10;}

#footer p {
  line-height: 1.4;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#footer .row img {
  display: inline-block;
  width: 60px;
  height: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#footer .row:first-child p {
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

/* Homepage
*/

#newsletter label {
  font-weight: bold;
}

#newsletter .button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #4875A0;
  color: #fefefe;
  text-transform: uppercase;
}

#newsletter input[type=text] {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.2rem;
  margin: 0 0 1rem 0.5rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: normal;
  color: #0a0a0a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#image-banner {
  margin-top: 0;
  margin-bottom: 0;
}

#image-banner div {
  background: #c5d9f0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

#image-banner div img {
  width: 100%;
  max-width: initial;
  height: auto;
}

#highlighted .hentry {
  border: 2px solid #fff;
  background-repeat: repeat;
  background-position: 0 0;
  background-color: transparent;
}

.hentry-1 { background-image: url('../images/backgrounds/strawberries-20.jpg'); }
.hentry-2 { background-image: url('../images/backgrounds/strawberries-10.jpg'); }
.hentry-3 { background-image: url('../images/backgrounds/strawberries-100.jpg'); }
.hentry-4 { background-image: url('../images/backgrounds/strawberries-200.jpg'); }
.hentry-5 { background-image: url('../images/backgrounds/strawberries-500.jpg'); }
.hentry-6 { background-image: url('../images/backgrounds/strawberries-50.jpg'); }
.hentry-7 { background-image: url('../images/backgrounds/strawberries-100.jpg'); }
.hentry-8 { background-image: url('../images/backgrounds/strawberries-200.jpg'); }
.hentry-9 { background-image: url('../images/backgrounds/strawberries-500.jpg'); }

#highlighted .hentry a {
  display: block;
  background: #fff;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  padding: 0.9375rem 0.7rem;
  border: 1px solid #fff;
}

#highlighted .hentry a:hover,
#highlighted .hentry a:focus {
  border: 1px solid #58936e;
}

#highlighted .hentry .entry-header h2 {
  font-size:  2.25rem;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 6rem;
}

p.more-recipes {
  text-align: center;
  margin-top: 2rem;
}

p.more-recipes > a {
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding:  0.7rem 1rem;
  border: 1px solid #999;
}

p.more-recipes > a:hover {
  border: 1px solid #333;
}


/* Category Page
*/

.auto-excerpt::after {
  content: "...";
  display: inline-block;
}

.category-page li.column {
  margin-bottom: 3rem;
}

.category-page .hentry {
  text-align: center;
}

.category-page .hentry header {
  margin-bottom: 0.5rem;
}

.category-page .hentry h3 a {
  display: block;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

.category-page .hentry h3 a:hover,
.category-page .hentry h3 a:focus {
  color: #58936e;
}

.category-page .hentry h3::after {
  content : "";
  display: block;
  height  : 1px;
  width   : 75%;
  margin: 0 auto;
  border-bottom: 1px solid #b0cdbb;
}

.category-page .hentry .entry-content {
  padding-top: 0.25rem;
}

.category-page .hentry .entry-content p {
  font-size: 100%;
  line-height: 1.4;
}


/* Common elements in post elements
*/

.hentry h3 > a,
.hentry h3 > a:hover,
.hentry h3 > a:focus {
  border-bottom: 0;
}

.hentry .entry-content p,
.hentry .entry-content ul,
.hentry .entry-content ol,
.hentry .entry-content dl,
.hentry .entry-content blockquote {
  font-size: 110%;
}

.hentry p > img + em { /* image captions*/
  display: block;
  color: #333;
  font-size: 90%;
  font-style: normal;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

#recipe-page .post-info {
  border-top: 1px solid #58936e;
}

.post-info li {
  line-height: 1.1;
  margin-bottom: 0.25rem;
}

  #highlighted .post-info li,
  .category-page .post-info li {
    text-align: center;
  }

.post-info i.icon {
  display: inline-block;
  min-height: 1.75rem;
  min-width: 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
}

  #highlighted .post-info i.icon,
  .category-page .post-info i.icon {
    display: block;
    margin-bottom: 0.2rem;
    background-position: center bottom;
  }

  #recipe-page .post-info i.icon {
    background-position: center top;
  }

.post-info strong {
  color: #58936e;
  font-size: 85%;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

  #highlighted .post-info span,
  .category-page .post-info span {
    font-size: 80%;
    line-height: 1.1;
    text-transform: uppercase;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  #recipe-page .post-info strong,
  #recipe-page .post-info span { font-size: 100%; }

.post-info i.servings-icon {
  background-image: url('../images/icons/servings.png');
}

.post-info i.duration-icon {
  background-image: url('../images/icons/duration.png');
}

.post-info i.risk-icon {
  background-image: url('../images/icons/risk.png');
}


/* Recipe page
*/

#recipe-page .hentry {
  background-image: url('../images/backgrounds/strawberries-euro.jpg');
}

#recipe-page .hentry > .image-border {
  background: #fff;
  margin: 0.9375rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#recipe-page header .entry-title {
  line-height: 1.2;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

#recipe-page .post-info {
  margin-top: 2rem;
}

#recipe-page .entry-content .post-info { /* ingredient list */
  border-top: 0;
  margin-top: 1.45rem;
  margin-bottom: 2rem;
}

.post-info i.ingredients-icon {
  display: inline-block;
  width: 1.75rem;
  height: 1.125rem;
  margin-right: 0.5rem;
  background: transparent url('../images/icons/ingredients.png') no-repeat center 0;
}

#recipe-page .post-info dt {
  margin-bottom: 0;
}

#recipe-page .post-info dd {
  margin-bottom: 0.5rem;
}

#recipe-page .post-info strong {
  display: inline-block;
  margin-bottom: 0.25rem;
  border-bottom: 3px solid #58936e;
}

#recipe-page .post-info span {
  display: block;
}

#recipe-page .post-info li {
  margin-bottom: 0.25rem;
}

#recipe-page .admonition {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#recipe-page .admonition-title {
  font-size: 1.9375rem;
  font-family: "Antpolt", "Linux Libertine", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  margin-bottom: 0.5rem;
}

/* Basics individual page and Static pages
*/

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.page .entry-content > h1:first-child,
.page .entry-content > h2:first-child,
#basics-page .entry-content h1+h2 {
  margin-top: 0;
}

.page h1::after,
.page h2::after,
.page h3::after,
.page h4::after,
.page h5::after,
.page h6::after {
  content : "";
  display: block;
  height  : 1px;
  width   : 75%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #b0cdbb;
}

#basics-page p > img { /* center and limit image width */
  display: block;
  width: auto;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
}

.hentry p > img + em { /* center captions too */
  text-align: center;
}

sup a.footnote-ref {
    color: #58936e;
    font-weight: 700;
    line-height: 1;
    border-bottom: 0;
    background-color: #edf6f0;
    padding: 1px 5px;
    border-radius: 20px;
}

sup a.footnote-ref:hover {
    border-bottom: 0;
    background-color: #bad6c4;
}

a.footnote-backref {
    color: #58936e;
    font-weight: 700;
    line-height: 1;
    border-bottom: 0;
}

.hentry .entry-content .footnote > *,
.footnote > * {
  font-size: 85%;
}

/* Media Queries
*/

@media screen and (max-width: 39.9375em) { /* Small only */

  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  #recipe-page .admonition-title { font-size: 1.5rem; }
  #basics-page p > img { max-width: 100%; }

  .menu-centered > .menu { display: block; }

  #recipe-page .entry-content .post-info { /* ingredient list */
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  #recipe-page .post-info {
    margin-top: 0.5rem;
  }

  #recipe-page .post-info strong,
  #recipe-page .post-info span {
    font-size: 85%;
  }

}

@media screen and (min-width: 40em) { /* Small up */

  h1 { font-size: 2.6rem; }


  .category-page .hentry {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}

  .subtitle {
    text-align: center;
  }
